@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
  .loader {
    width: 150px;
    aspect-ratio: 0.75;
    --c1: no-repeat linear-gradient(theme(colors.yellow.500) 0 0);
    --c2: no-repeat linear-gradient(theme(colors.orange.500) 0 0);
    --c3: no-repeat linear-gradient(theme(colors.stone.500) 0 0);
    background:
      var(--c1) 0% 50%,
      var(--c2) 50% 50%,
      var(--c3) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }

    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }

    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }

    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}
